@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
		border-top-color: var(--pink);
	}
	25% {
		transform: rotate(90deg);
		border-top-color: var(--blue);
	}
	50% {
		transform: rotate(180deg);
		border-top-color: var(--yellow);
	}
	75% {
		transform: rotate(270deg);
		border-top-color: var(--purple);
	}
	100% {
		transform: rotate(360deg);
		border-top-color: var(--pink);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		border-top-color: var(--pink);
	}
	25% {
		transform: rotate(90deg);
		border-top-color: var(--blue);
	}
	50% {
		transform: rotate(180deg);
		border-top-color: var(--yellow);
	}
	75% {
		transform: rotate(270deg);
		border-top-color: var(--purple);
	}
	100% {
		transform: rotate(360deg);
		border-top-color: var(--pink);
	}
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes round-in {
	from {
		border-radius: 0;
	}
	to {
		border-radius: 10px;
	}
}
@keyframes round-in {
	from {
		border-radius: 0;
	}
	to {
		border-radius: 10px;
	}
}

@-webkit-keyframes round-out {
	from {
		border-radius: 10px;
	}
	to {
		border-radius: 0;
	}
}

@keyframes round-out {
	from {
		border-radius: 10px;
	}
	to {
		border-radius: 0;
	}
}
