@import url("./themes/dark.css") (prefers-color-scheme: dark);
@import url("./themes/light.css") (prefers-color-scheme: light);
@import url("./fonts.css");
@import url("./animation.css");

body,
html {
	margin: 0;
	background-color: var(--gray);
	color: var(--white);
	font-family: Gotham, Sans-serif;
	font-weight: 200;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
	height: 3px;
}
::-webkit-scrollbar-track-piece {
	background-color: var(--darkgrey);
}
::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: var(--grey);
	border-radius: 3px;
}

.announcement {
	display: inline-block;
	height: 100%;
	text-align: center;
	width: 100%;
	background: var(--yellow);
	color: var(--brown);
	font-family: Gotham, Sans-serif;
	font-weight: 600;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 0.8em;
}

.navbar {
	display: flex;
	justify-content: space-between;
	user-select: none;
	background-color: var(--blue);
	font-family: Gotham, Sans-serif;
	font-weight: 600;
}

.navbar div * {
	display: inline-block;
	padding: 1rem;
}

.navbar div a {
	text-decoration: none;
	color: var(--white);
}

.navbar div a:hover {
	color: var(--brown);
	background-color: var(--yellow);
}

@media screen and (max-width: 700px) {
	.navbar .responsive {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.navbar.responsive {
		position: relative;
	}
	.navbar .responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

.content-wrapper {
	margin: min(4%, 2.5rem) min(5%, 8rem);
	width: min(95%, 80rem);
	margin: 1rem auto;
	text-align: center;
}

h1 {
	color: var(--pink);
	font-weight: 800;
}

h2 {
	color: var(--yellow);
}

.greeting-container * {
	display: grid;
	place-items: center;
	width: 100%;
	margin: 1rem auto;
}

.greeting-container img {
	margin: 3rem auto;
	width: 20%;
	border-radius: 100%;
	border: solid 5px var(--yellow);
}

hr {
	height: 3px;
	border-radius: 8px;
	border: none;
	margin: 4rem auto;
	background-color: var(--blue);
}

.about-me {
	display: grid;
	place-items: center;
}

.about-me ul {
	padding: 0;
}

.experiences {
	display: grid;
	place-items: center;
}

.projects {
	display: grid;
	place-items: center;
}

.contact {
	display: grid;
	place-items: center;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
	margin-left: auto;
	margin-right: auto;
	column-width: 15rem;
}

.column a {
	color: var(--yellow);
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 100px;
	height: 100px;
	margin: -57px 0 0 -57px;
	border: 16px;
	border-style: solid;
	border-color: var(--white);
	border-radius: 100%;
	border-width: 0.5rem;
	border-top: 8px;
	border-top-style: solid;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

#myDiv {
	display: none;
	text-align: center;
}

.footer {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	background-color: var(--yellow);
}

.footer a {
	text-decoration: none;
	color: var(--brown);
	font-weight: 400;
}
