@import url("./themes/dark.css") (prefers-color-scheme: dark);
@import url("./themes/light.css") (prefers-color-scheme: light);
@import url("./fonts.css");

body,
html {
	margin: 0;
	background-color: var(--gray);
	color: var(--white);
	font-family: Gotham, Sans-serif;
	font-weight: 200;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
	height: 3px;
}
::-webkit-scrollbar-track-piece {
	background-color: var(--darkgrey);
}
::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: var(--grey);
	border-radius: 3px;
}

.announcement {
	display: inline-block;
	height: 100%;
	text-align: center;
	width: 100%;
	background: var(--yellow);
	color: var(--brown);
	font-family: Gotham, Sans-serif;
	font-weight: 600;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 0.8em;
}

.navbar {
	display: flex;
	justify-content: space-between;
	user-select: none;
	background-color: var(--blue);
	font-family: Gotham, Sans-serif;
	font-weight: 600;
}
.navbar div * {
	display: inline-block;
	padding: 1rem;
}
.navbar div a {
	text-decoration: none;
	color: var(--white);
}

.content-wrapper {
	margin: min(4%, 2.5rem) min(5%, 8rem);
	width: min(95%, 80rem);
	margin: 1rem auto;
}

h1 {
	color: var(--pink);
	font-weight: 800;
}

.greeting-container * {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 1rem auto;
}

.greeting-container img {
	margin: 3rem auto;
	width: 20%;
	border-radius: 100%;
	border: solid 5px var(--yellow);
}

hr {
	height: 3px;
	border-radius: 8px;
	border: none;
	margin: 4rem auto;
	background-color: var(--grey);
}

.about-me {
	display: flex;
	justify-content: center;
	align-items: center;
}

.experiences {
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
}
