:root {
	--gray: #282c34;
	--pink: #ff548a;
	--blue: #00dddd;
	--yellow: #ffcc49;
	--brown: #854d0e;
	--purple: #9361ff;
	--red: #ff422f;
	--green: #00bb35;
	--darkblue: #0166f1;
	--white: #fafaf4;
	--grey: #bbbbbb;
	--darkgrey: #666666;
}
