.projects__container__article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
    border-radius: 10px;
}

.projects__container__article__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background: var(--color-footer);
}

.projects__container__article__image img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.projects__container__article__content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    height: 100%;
}

.projects__container__article__content p {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 14px;
    line-height: 35px;
    color: #fff;
}

.projects__container__article__content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 28px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 1rem;
    cursor: pointer;
}

.projects__container__article__content p:nth-child(3) {
    margin-bottom: 3rem;
}

.projects__container__article__content p:last-child {
    margin-top: auto;
}

@media screen and (max-width: 550px) {
    .projects__container__article__content h3 {
        font-size: 18px;
        line-height: 25px;
    }
    .projects__container__article__content p {
        font-size: 12px;
        line-height: 25px;
    }
}
