.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.cta__content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0e0e0e;
}

.cta__content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}

.cta__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.cta__btn button {
    background: #000000;
    color: #fff;
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

.cta__btn button:hover {
    background: #fff;
    color: #000;
}

@media screen and (max-width: 650px) {
    .cta {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    .cta__btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .cta__content h3 {
        font-size: 18px;
        line-height: 32px;
    }
    .cta__btn button {
        font-size: 14px;
        line-height: 28px;
    }
}
