.card {
    border: 3px solid #5d677e;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0 12px 24px 12px;
    padding: 20px;
    display: flex;
    min-width: 300px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.card__content p {
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 20px;
    line-height: 1.5;
}

.card:hover {
    background: #5d677e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
