.aboutme {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    /* ff 3.6+ */
    background: -moz-radial-gradient(
        circle at 30% -100%,
        rgba(40, 44, 52, 1) 0%,
        rgba(53, 58, 69, 1) 51%,
        rgba(92, 101, 119, 1) 100%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
        circle at 30% -100%,
        rgba(40, 44, 52, 1) 0%,
        rgba(53, 58, 69, 1) 51%,
        rgba(92, 101, 119, 1) 100%
    );

    /* opera 11.10+ */
    background: -o-radial-gradient(
        circle at 30% -100%,
        rgba(40, 44, 52, 1) 0%,
        rgba(53, 58, 69, 1) 51%,
        rgba(92, 101, 119, 1) 100%
    );

    /* ie 10+ */
    background: -ms-radial-gradient(
        circle at 30% -100%,
        rgba(40, 44, 52, 1) 0%,
        rgba(53, 58, 69, 1) 51%,
        rgba(92, 101, 119, 1) 100%
    );

    /* global 92%+ browsers support */
    background: radial-gradient(
        circle at 30% -100%,
        rgba(40, 44, 52, 1) 0%,
        rgba(53, 58, 69, 1) 51%,
        rgba(92, 101, 119, 1) 100%
    );
}

.aboutme h1 {
    font-size: 38px;
    line-height: 50px;
    font-weight: 800;
    font-family: var(--font-family);
    width: 460px;
}

.aboutme h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
    font-family: var(--font-family);
}

.aboutme__heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.aboutme__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}

.aboutme__container .gpt3_features-container_feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

.aboutme__container .gpt3_features-container_feature-text {
    margin-top: 0.5rem;
}

.timeline__container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.timeline__container--content {
    margin-top: 2rem;
}

@media screen and (max-width: 850px) {
    .aboutme__heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .aboutme__heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .aboutme__container .gpt3_features-container_feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .aboutme__container .gpt3_features-container_feature-text {
        margin-top: 0.5rem;
    }

    .aboutme h1 {
        font-size: 32px;
        line-height: 45px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    /* Customizing feature component as per needs */
    .aboutme__container .gpt3_features-container_feature {
        margin: 1rem 0;
        min-width: 100%;
    }
    .aboutme h1 {
        font-size: 28px;
        line-height: 40px;
    }
    .aboutme h2 {
        font-size: 20px;
        line-height: 25px;
    }
}
