.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.contact__heading {
    text-align: center;
    margin-bottom: 3rem;
}

.contact__heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 85px;
}

.contact__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

@media screen and (max-width: 1366px) {
    .contact__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1096px) {
    .contact__card {
        transform: scale(0.8);
    }
    .contact__heading h1 {
        font-size: 48px;
        line-height: 64px;
    }
}

@media screen and (max-width: 600px) {
    .contact__card {
        /*grid 4rowx 1column */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .contact__heading {
        margin-bottom: 0;
    }
    .contact__heading h1 {
        font-size: 38px;
        line-height: 52px;
    }
}
