.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    background: var(--gradient-bar);
    border-radius: 10px 10px 10px 10px;
    margin: 0 1rem;
    position: relative;
    top: 1.5rem;
    left: 0;
    right: 0;
    padding: 0.5rem;
    height: 50px;
    z-index: 2;
    transition: all ease-in-out 0.2s;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    border-radius: 0;
    margin: 0;
    box-shadow: -1px 10px 35px -4px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: -1px 10px 35px -4px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: -1px 10px 35px -4px rgba(0, 0, 0, 0.47);
}
.navbar__links--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar__links--middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__links--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar__links--left p,
.navbar__links--middle p,
.navbar__links--right p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar__links--left p:hover,
.navbar__links--middle p:hover,
.navbar__links--right p:hover {
    color: #ffcc49;
    -webkit-animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
    animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.navbar__menu {
    margin-right: 0.5rem;
    display: none;
    position: relative;
    cursor: pointer;
}

.navbar__menu__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-navbar-collapsed);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.navbar__menu__container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    margin: 1rem 0;
}

.navbar__menu__container p:hover {
    color: #ffe651;
    -webkit-animation: scale-down-center 0.2s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (max-width: 800px) {
    .navbar__links--middle,
    .navbar__links--right {
        display: none;
    }
    .navbar__menu {
        display: flex;
    }
}
