.content {
    font-family: var(--font-family);
    color: #fff;
}

.black {
    color: #363636;
}

.content p {
    font-weight: 500;
}

.detail {
    font-weight: 300 !important;
    font-style: italic;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 5px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #ffcc49;
    border: 4px solid #fff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: -4px;
}

/* Place the container to the right */
.right,
.right-highlight {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--color-blog);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--color-blog);
}

/* Add arrows to the right container (pointing left) */
.right::before,
.right-highlight::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--color-blog);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--color-blog) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after,
.right-highlight::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: var(--color-blog);
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.highlight {
    background-color: #ffcc49;
    color: #fff;
}

.right-highlight::before {
    border: medium solid #ffcc49;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffcc49 transparent transparent;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 750px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid var(--color-blog);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--color-blog) transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after,
    .right-highlight::after {
        left: 22px;
    }

    /* Make all right containers behave like the left ones */
    .right,
    .right-highlight {
        left: -1%;
    }

    .right-highlight::before {
        border: medium solid #ffcc49;
        border-width: 10px 10px 10px 0;
        border-color: transparent #ffcc49 transparent transparent;
    }
}
