.experiences {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.experiences__heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}

.experiences__heading h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
}

.experiences__container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
}

.experiences__container h2 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 1rem;
}

.experiences__container__header div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.experiences__container__icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 1.5rem;
}

.experiences__container__icon img {
    width: 50px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.experiences__container__icon img:hover {
    -webkit-animation: zoom-in 0.2s forwards;
    animation: zoom-in 0.2s forwards;
}

@media screen and (max-width: 850px) {
    .experiences {
        flex-direction: column;
    }

    .experiences__heading {
        margin-right: 0;
    }

    .experiences__container {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .experiences__heading h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .experiences__container h2 {
        font-size: 18px;
        line-height: 25px;
    }

    .experiences__container__icon img {
        width: 40px;
    }
}
