.mobile {
	display: none;
}

@media screen and (max-width: 573px) {
	.announcement {
		height: 4rem;
	}
}

@media screen and (max-width: 750px) {
	.navbar .responsive {
		position: absolute;
		width: 100%;
		pointer-events: none;
		opacity: 0;
	}
	.desktop {
		display: none;
		opacity: 0;
	}
	.menu li {
		display: block;
		padding: 0;
	}
	.mobile {
		display: inherit;
	}
}
