.mobile {
	display: none;
}

.mobile img {
	width: 15.5px;
	height: 15.5px;
	padding-top: 18px;
	padding-bottom: 14px;
}

.mobile img:active {
	transform: scale(0.9);
}

@media screen and (max-width: 573px) {
	.announcement {
		height: 4rem;
	}
}

@media screen and (max-width: 750px) {
	.navbar .responsive {
		position: absolute;
		width: 98%;
		pointer-events: none;
		opacity: 0;
	}
	.desktop {
		display: none;
		opacity: 0;
	}
	.menu li {
		display: block;
		padding: 0;
		float: right;
		clear: both;
	}
	.menu li a {
		display: inherit;
		padding: 0.5rem;
		font-family: Gotham, Sans-serif;
		font-weight: 600;
		font-size: 1.2rem;
	}
	.menu li a::after {
		content: " |";
	}
	.mobile {
		display: inherit;
		-webkit-animation: fade-in 0.2s forwards, fly-in 0.1s ease-out;
		animation: fade-in 0.2s forwards, fly-in 0.1s ease-out;
	}

}
