.header {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    padding: 0 5rem;
    box-sizing: border-box;
    z-index: 0;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-content--kmitl {
    color: #ff914d;
    font-weight: 600;
}

.header-content--42 {
    color: #5efdff;
    font-weight: 600;
}

.header-content__btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    background: #ff548a;
    padding: 1rem 2rem;
    margin: 0 0;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
}

.header-content__btn:hover {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

.header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image img {
    width: 40rem;
    border-radius: 5%;
}

@media screen and (max-width: 1050px) {
    .header {
        flex-direction: column;
    }
    .header-content {
        margin: 0 0 2rem;
    }
}

@media screen and (max-width: 650px) {
    .header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .header p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .gpt3_header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .gpt3_header p {
        font-size: 14px;
        line-height: 24px;
    }
}
